                /* Font Importation */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');





                /* Standard property */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.subtitle{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}



a{
    color: black;
    text-underline-offset: 0.5rem;
    font-size: 1.5rem;
}

a:hover{
    color:grey;
    text-underline-offset: 1rem;
}

.lien:hover{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;
}

.lien{
    display: inline-block;
    text-decoration: none;
    background-color:white;
    color:black;
    border: solid 1px black;
    border-radius: 25px;
    padding: 15px;
}









                    /* Header  */
header{
    height: 20vh;
}

h1{
    font-size: 2.5rem;
}

header, ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    gap: 1rem;
}

li{
    list-style-type: none;
}




                    






                /* Profil's Section*/
#first{
    padding-top: 10px;
}

#Profil{
    width: 50%;
    height: 80vh;
    display: flex;
    gap: 5rem;
    margin: 10vh auto;
}

#pic_container{
    display: flex;
    margin: auto;
}

.profil_paragraph{
    width: 45%;
    text-align: center;
}

#Photo_de_profil{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 25px black;
}


.cv_github{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
}









                /* Section de Compétences  */

#second{
   margin: 50px;
}

#Compétences{
    height: 70vh;
    width: 50%;
    margin:0px auto ;
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}


.boite{
    border: 2px solid grey;
    border-radius: 30px; 
}


.en_tête{
    font-size: 2.5rem;
    text-align: center;
    padding: 30px 0px 60px 0px;
}


.language{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr ;
}


.checkmark{
    display: flex;
}


.web_language{
    display: flex;
    align-items: center;
    font-size: 2rem;
}


.checkmark{
    display: flex;
    justify-content: center;
}


.check_lang{
    align-self: center;
}


                    /* Section de projets */

#third{
    margin: 50px;
}

#projets{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    width: 80%;
    margin: 0px auto 5vh; 
}

#projets div{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px gray;
    border-radius: 30px; 
    box-sizing: border-box;
}

#projets div h3{
    text-align: center;
    padding: 5px; 
}

#projets div img{
    height: 70%;
    filter: grayscale(100%);
    border-radius: 20px;
    object-fit: cover;
}

#projets div a{
    text-align: center;
    width: 35%;
    margin:0px auto;
    font-size: 0.8rem;
}







                    /* Section contact */

#fourth{
    margin: 50px;
}

#Contact{
    width: 60%;
    height: 70vh;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div p{
    padding: 15px;  
}

.mail{
    display: flex;
    border: grey solid 2px;
    border-radius: 30px;
    padding: 20px;
}

a[href="mailto:thioubepapamacoumba@gmail.com"]{
    vertical-align: center;
}









                    /* Partie footer */

footer{
    height:10vh;
}

.footer{
    justify-content: center;
}









                    /* Media Queries  */

@media screen and (max-width:1200px) {

    /* Header */
    header{
        flex-direction: column;
    }
    
    h1{
        text-align: center;
    }

    ul{
        gap: 0.5rem;
    }
    
    
    
    /* Profil's section */
    #Profil{
        flex-direction: column;
        height: 75vh;
        width: 75%;
        gap: 0rem; 
    }

    #pic_container img{
        height:100%
    }

    .cv_github{
        flex-direction: row;
        gap: 1rem;
        
    }

    /* Skills's Section */
    #Compétences{
        height: 75vh;
    }

    .language{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr ;
    }

    #Contact{
    height: 40vh;
    }
    

    /* Project Section */
    
    #projets{
        display: flex;
        flex-direction: column;
        height: 90vh;
        gap: 10px;
        margin: 5vh auto 10vh;
    }
    
    #projets div{
        height:80% ;
    }

    #projets div a{
        font-size: 0.5rem;
    }
    



    /* Contact Section */
    #Contact{
        height: 60vh;
    }

    
    

}
