                /* Font Importation */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');





                /* Standard property */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.subtitle{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}


.lien:hover{
    font-weight: bold;
    box-shadow: 0 0 5px black;
    transform: scale(1.01);
    transition: all 200ms ease-in-out;
}

.lien{
    display: inline-block;
    text-decoration: none;
    background-color:white;
    color:black;
    border: solid 1px black;
    border-radius: 25px;
    padding: 15px;
}









                    /* Header  */

header{
    height: 20vh;
}

nav{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 35px;
    padding-left: 20px;
    cursor: default;
}

nav .toogle-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30%;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
}

nav .toogle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: black;
}


nav ul{
    display: flex;
}

nav ul li{
    margin: 15px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

nav ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    color: grey;
    transition: color 250ms ease-in-out ;
}

.toogle-menu{
    display: none;
}


                /* Profil's Section*/

#first a, #second a, #third a, #fourth a{
    text-decoration: none;
    color: black;
}



#Profil{
    width: 50%;
    height: 70vh;
    display: flex;
    margin: auto;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
}


.profil_paragraph{
    width: 45%;
    text-align: center;
}

#Photo_de_profil{
    width: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 25px black;
    display: block;
    margin: auto;
}


.cv_github{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
}









                /* Section de Compétences  */
#Competences{
    height: 75vh;
    width: 50%;
    margin:0px auto ;
    padding-bottom: 12vh;
    padding-top: 50px;
}


.boite{
    height: 100%;
    border: 2px solid grey;
    border-radius: 30px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
}


.en_tête{
    font-size: 2.5rem;
    text-align: center;
    padding: 30px 0px 60px 0px;
}


.checkmark{
    display: flex;
    gap: 0.3em;
}


.web_language{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.language-niveau{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.checkmark{
    display: flex;
    justify-content: center;
}


.check_lang{
    align-self: center;
}


                    /* Section de projets */

#projets{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    width: 80%;
    margin: 7.5vh auto 7.5vh; 
}

#projets div{
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px gray;
    border-radius: 30px; 
    box-sizing: border-box;
}

#projets div h3{
    text-align: center;
}

#projets div img{
    border-radius: 20px;
    display: block;
}

#projets div a{
    text-align: center;
    width: 35%;
    align-self: center;
    font-size: 0.8rem;
}







                    /* Section contact */

#fourth{
    margin-top: 50px;
}

#Contact{
    width: 60%;
    height: 60vh;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail{
    display: flex;
    align-items: center;
    border: grey solid 2px;
    border-radius: 40px;
    padding: 30px;
}


.mail a{
    text-decoration: none;
    color: black;
    font-size: 20px; 
    padding: 15px;   
}

.mail a:hover, .mail img:hover + a{
    text-decoration: underline;
    text-underline-offset: 15px;
    color: gray;
    transition: all 200ms ease-in-out;
}








                    /* Partie footer */

footer{
    height:10vh;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li{
    margin: 20px;
    list-style: none;
}

.footer li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.footer li a:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    color: grey;
}









                    /* Media Queries  */

@media screen and (max-width:1200px) {

    /* Header */

    header{
        height: 10vh;
    }

    header h1{
        padding-left: 20px;
    }
    

    ul{
        gap: 0.5rem;
    }


    nav h1{
        font-size: 25px;
    }

    nav .toogle-btn{
        display: flex;
    }

    .open{
        display: flex !important;
    }

    .toogle-menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(230, 219, 219, 0.2);
        color: white;
    }

    .toogle-menu li{
        list-style: none;
        margin: 3px;
    }

    .toogle-menu li a{
        text-decoration: none;
        font-size: 22px;
        font-weight: 500;
        color: black;
    }
    
    nav ul{
        display: none;
    }
    
    nav ul li{
        margin: 0px;
        list-style: none;
    }

    nav ul li a{
        font-size: 20px;
    }

    
    
    /* Profil's section */
    #first a, #second a, #third a, #fourth a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    #Profil{
        padding-top: 15vh;
        padding-bottom: 15vh;
        flex-direction: column;
        justify-content: space-around;
        height: 68vh;
        width: 75%;
        gap: 75px; 
    }
    
    #Photo_de_profil{
        width: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px 25px black;
        display: block;
        margin: auto;
        
    }


    #pic_container img{
        height:100%
    }

    .cv_github{
        flex-direction: row;
        gap: 1rem;
        
    }

    /* Skills's Section */
    #Competences{
        height: 75vh;
        width: 80%;
    }

    .boite{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }

    #Contact{
        height: 40vh;
    }
    

    /* Project Section */
    #projets{
        height: 200vh;
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-between;
        height: none;
        gap: 2rem;
    }
    
    #projets div{
        width: 100%;
    }

    #projets div a{
        font-size: 0.5rem;
    }
    



    /* Contact Section */
    #Contact{
        height: 60vh;
    }

    /* Footer section */

    .footer li a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    .footer li{
        margin: 10px;
    }
    

}
